::ng-deep html,
::ng-deep body {
  height: 100%;
  overflow: hidden;
}

::ng-deep * {
  box-sizing: border-box;
}

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.anim-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fafafa;
  user-select: none;
}